.App {
  display: inline-block;
  margin: 0 auto;
}

form {
  display: inline-block;
}

form label{
  display: inline-block;
  width: 8.5em;
  text-align: right;
}

form input {
  margin-left: 1em;
  width: 12em;
}

form > div {
  margin-top: 1em;
}